@use './_variables' as *;

$nav-icon-size: 2rem;

/* Sub-mixins need to be outside the primary mixin */
@mixin nav-text {
  padding: 0; // Overrides default value in form
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.25s linear;
  color: $white;
  cursor: pointer;

  /* Only show the underside bar effect at larger viewport widths */
  @media (min-width: $breakpoint-sm) {
    font-weight: 500;
    color: $application-font-color;

    &::after {
      // The bar underneath when it's hidden
      width: 100%;
      display: block;
      position: relative;
      top: 0.5rem;
      border-bottom: 3px solid transparent;
      content: "";
      transition: 0.25s;
    }

    &:hover::after {
      // The bar underneath when it's shown
      top: 0.25rem;
      border-bottom: 3px solid $twenty-three-blue;
    }
  }
}

header {
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 100;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 14px 18px;
  background: $eighty-percent-gray;
}

.huetown-logo-gray {
  width: 300px;
}

.huetown-logo-white {
  width: 175px;
}

button.burger-button {
  position: relative;
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: transparent;

  &.closing-x {
    padding: 5px 2px;
  }
}

button.burger-button div.burger-bars-container {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button.burger-button div.burger-bars-container div.bar {
  position: relative;
  width: 25px;
  height: 4px;
  background: $white;
  transition: transform .125s;

  &.closing-x {
    width: 30px;

    &:nth-child(1) {
      top: 9px;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      bottom: 12px;
      transform: rotate(-45deg);
    }
  }
}

.nav {
  display: none; // moble-first: nav drawer is closed on component mount
  flex-direction: column;
  background: $dark-film;
  backdrop-filter: blur(5px);

  &.nav-drawer-is-open {
    display: flex;
  }

  .nav-link {
    @include nav-text;

    width: 100%;
    padding: 1.5rem 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    &:nth-of-type(1) {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: $huetown-green;
      border-bottom-color: $huetown-yellow;
    }

    &:nth-of-type(2) {
      border-bottom-color: $nav-accent-purple;
    }

    &:nth-of-type(3) {
      border-bottom-color: $huetown-blue;
    }

    &:nth-of-type(4) {
      border-bottom-color: $red-muted;
    }
  }

  /* Styling is needed on both the form and the form's input for the underline effect to work */
  form {

    @include nav-text;

    input[value="view cart"] {
      @include nav-text;

      background-color: transparent;
      width: 100%;
      padding: 1.5rem 0;

      &.paypal-link {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $orange-muted;
      }
    }
  }
}

.nav-menu-icons {
  display: flex;
  justify-content: center;
  padding: .25rem;
  border-bottom: 1.5px solid $fifty-percent-gray;

  section {
    margin: 1rem 2rem;

    a {
      width: $nav-icon-size;
      height: $nav-icon-size;
      display: block;

      img {
        width: $nav-icon-size;
        height: $nav-icon-size;
        display: block;
        position: relative;
      }
    }
  }
}

/* Media Queries */

@media (min-width: $breakpoint-sm) {

  header {
    position: relative;
    padding-bottom: 1.25rem;
    background-color: $white;

    .nav-top {
      justify-content: center;
      background-color: $white;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    margin: auto;
    background: $white;
    backdrop-filter: initial;

    .nav-link,
    form input[value="view cart"] {
      width: initial;
      padding: initial;
    }
  }

  .nav .nav-link {

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      border: none;
    }
  }

  .nav form input[value="view cart"].paypal-link {
    border: none;
  }
}