.home-content {

  .home-image-container,
  .home-text-container,
  .home-image-container img {
    width: 80vw;
    max-width: 25rem;
    vertical-align: top;
  }

  .home-text-container {
    margin-top: 1rem;
  }
}
