.home-content {

  .home-image-container {
    text-align: center;

    img {
      opacity: .75;
    }
  }

  .home-text-container {
    margin-top: 1rem;
    width: 80vw;
    max-width: 25rem;
    vertical-align: top;
  }
}
