@use './_variables' as *;

/* Sub-mixins need to be outside the primary mixin */
@mixin crisp-scaled-down {
  image-rendering: -moz-crisp-edges; // Firefox
  image-rendering: -o-crisp-edges; // Opera
  image-rendering: -webkit-optimize-contrast; // Webkit (non-standard naming)
  image-rendering: crisp-edges;
}

.item-page {
  width: $page-width;
  margin-bottom: 1rem;

  .item-press {
    max-width: 650px;
    margin: 0 auto .75rem;

    span:last-of-type {
      white-space: nowrap;

      a img {
        position: relative;
        top: .375rem;
        max-height: 1.5rem;
      }
    }
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.lunar-calendar) .feature-image-link {
      pointer-events: none;
    }

    // &.print,
    // &.postcard {
    //   justify-content: center;
    // }
  }

  .container-2 {
    display: block;
    border-top: 1px solid $light-gray;
    margin-top: 20px;

    .photo-pair {
      display: flex;
      justify-content: center;

      img {
        margin: 10px 5px 0;
        width: 450px;
        height: 450px;

        @media only screen and (max-width: 1050px) {
          &.large-detail-image {
            width: 700px;
            height: 700px;
          }
        }

        @media only screen and (max-width: 760px) {
          &.large-detail-image {
            width: 90vw;
            height: 90vw;
          }
        }

        @media only screen and (max-width: 500px) {
          width: 90vw;
          height: 90vw;
        }
      }

      @media only screen and (max-width: 1050px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .item-more-info {
      max-width: $character-width;
      margin: 2rem auto;

      .more-info-block {
        margin: 1rem auto .5rem;
      }

      .lunar-phases {
        display: flex;
        width: 250px;
        margin: 2rem auto;
      }

      .phase-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px;
      }

      .phase-text {
        margin-top: .25rem;
        text-align: center;
        text-transform: capitalize;
        font-size: .875rem;
        line-height: 1.125rem;
      }
    }
  }

  .container-3 {
    display: flex;
    flex-direction: column;

    .thumbnails-set {
      margin: 0 auto;

      .title {
        margin: 1rem auto .5rem;
        text-transform: capitalize;
        color: $sixty-percent-gray;
        font-weight: 700;
        text-align: center;
      }

      .thumbnails {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;

        .thumbnail {
          margin: .5rem .75rem;

          a,
          a img {
            display: block;
            width: 200px;
            height: 123px;
          }
        }
      }
    }
  }

  img.feature-image {
    @include crisp-scaled-down;

    width: 300px;
    max-width: 700px;
    height: auto;

    &.postcard {
      border: 1px solid $sixty-percent-gray;

      // @media only screen and (max-width: 650px) {
      //   width: 550px;
      // }

      // @media only screen and (max-width: 600px) {
      //   width: 90vw;
      // }
    }

    &.print {
      @media only screen and (max-width: 500px) {
        width: 80vw;
      }
    }
  }

  .item-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;

    // &.postcard {
    //   @media only screen and (max-width: 650px) {
    //     width: 550px;
    //   }

    //   @media only screen and (max-width: 600px) {
    //     width: 90vw;
    //   }
    // }
  }

  .item-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 5px;

    span.normal {
      font-weight: 400;
    }
  }

  .item-info-container {
    padding-inline-start: 20px;
  }

  .payment-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
  }

  .item-price-container {
    position: relative;
    top: .75rem;
    margin-right: .5rem;
    font-size: 1.375rem;
    font-weight: 600;
  }

  .quantity-label {
    margin-left: .5rem;
    font-size: .875rem;
  }

  form {
    display: flex;
    align-items: stretch;

    input[name="quantity"] {
      width: 2.5rem;
      height: 2.25rem;
      padding: 0;
      border: 0.1rem solid $fifty-percent-gray;
      margin-right: .5rem;
      font-size: .75rem;
      text-align: center;
    }

    input[value="Add to cart"] {
      width: 160px;
      border: none;
      border-radius: 6px;
      background: $sixty-seven-percent-gray;
      color: $white;
      font-family: "Raleway", sans-serif;
      font-size: .875rem;
      font-weight: 600;
      letter-spacing: .125rem;
      cursor: pointer;

      &:hover {
        border: 2px solid $sixty-seven-percent-gray;
        color: $black;
        background: $rainbow-yellow;
      }
    }
  }

  .additional-info {
    margin: .25rem auto 1.5rem;
    max-width: $character-width;

    .item-accompanying {
      text-align: center;
    }
  }
}

/* Media Queries */

@media (min-width: $breakpoint-sm) {
  .item-page {

    img.feature-image {
      width: 90vw;
    }
  }
}

@media (min-width: $breakpoint-lg) {

  .item-page {

    .container-1 {
      flex-direction: row;
      align-items: initial;
    }

    .item-info-block {
      flex-direction: column-reverse;
      padding-left: 15px;
    }

    .payment-info {
      flex-direction: column;
      align-items: flex-start;
    }

    .item-price-container {
      top: initial;
      margin-bottom: 1rem;
    }
  }
}
