@use './_variables' as *;

/* Sub-mixins need to be outside the primary mixin */
@mixin crisp-scaled-down {
  image-rendering: -moz-crisp-edges; // Firefox
  image-rendering: -o-crisp-edges; // Opera
  image-rendering: -webkit-optimize-contrast; // Webkit (non-standard naming)
  image-rendering: crisp-edges;
}

.item {
  width: $page-width;
  margin-bottom: 1rem;

  .item-press {
    max-width: 650px;
    margin: auto auto .75rem;

    span:last-of-type {
      white-space: nowrap;

      a img {
        position: relative;
        top: .375rem;
        max-height: 1.5rem;
      }
    }
  }

  .feature-image-link {
    display: block;
  }

  .feature-image {
    @include crisp-scaled-down;

    display: block;
    width: 90vw;
    max-width: 700px;

    &.postcard {
      border: $border-standard;
      max-width: 600px;
    }

    &.print.proton-swan {
      max-width: 450px;
    }
    // &.postcard {
    //   border: 1px solid $sixty-percent-gray;

    //   @media only screen and (max-width: 650px) {
    //     width: 550px;
    //   }

    //   @media only screen and (max-width: 600px) {
    //     width: 90vw;
    //   }
    // }

    // &.print {
    //   @media only screen and (max-width: 500px) {
    //     width: 80vw;
    //   }
    // }
  }

  .item-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;

    // &.postcard {
    //   @media only screen and (max-width: 650px) {
    //     width: 550px;
    //   }

    //   @media only screen and (max-width: 600px) {
    //     width: 90vw;
    //   }
    // }
  }

  .item-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: .5rem auto;

    span.normal {
      font-weight: 400;
    }
  }

  .item-info-container {
    padding-inline-start: .75rem;
    margin: .5rem;
  }

  .payment-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .125rem auto .5rem;
  }

  .item-price-container {
    position: relative;
    top: .75rem;
    margin-right: .5rem;
    font-size: 1.375rem;
    font-weight: 600;
  }

  .quantity-label {
    margin-left: .5rem;
    font-size: .875rem;
  }

  form {
    display: flex;
    align-items: stretch;

    input[name="quantity"] {
      width: 2.5rem;
      height: 2.25rem;
      padding: 0;
      border: 0.1rem solid $fifty-percent-gray;
      margin-right: .5rem;
      font-size: .75rem;
      text-align: center;
    }

    input[value="Add to cart"] {
      width: 160px;
      border: none;
      border-radius: 6px;
      background: $sixty-seven-percent-gray;
      color: $white;
      font-family: "Raleway", sans-serif;
      font-size: .875rem;
      font-weight: 600;
      letter-spacing: .125rem;
      cursor: pointer;

      &:hover {
        border: 2px solid $sixty-seven-percent-gray;
        color: $black;
        background: $rainbow-yellow;
      }
    }
  }

  .feature-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // &.print,
    // &.postcard {
    //   justify-content: center;
    // }
  }

  .detail-images {
    border-top: 1px solid $light-gray;
    margin-top: 1.25rem;

    .photo-pair {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin: 1rem .5rem auto;
        max-width: 700px;
        width: 90vw;
        max-height: 700px;
        height: 90vw;

        &.abundance {
          max-width: 450px;
          max-height: 450px;
        }
      }
    }

    .item-more-info {
      max-width: $character-width;
      margin: 2rem auto;

      .more-info-block {
        margin: 1rem auto .5rem;
      }

      .lunar-phases {
        display: flex;
        justify-content: center;
        margin: 2rem auto;
      }

      .phase-info {
        width: 60px;
        margin: .125rem;
        text-align: center;
      }

      .phase-text {
        text-align: center;
        text-transform: capitalize;
        font-size: .875rem;
        line-height: 1.125rem;
      }
    }
  }

  .lunar-calendar-thumbnails {
    display: flex;
    flex-direction: column;

    .thumbnails-group {

      .thumbnails-title {
        margin: 1rem auto .5rem;
        text-transform: capitalize;
        color: $sixty-percent-gray;
        font-weight: 700;
        text-align: center;
      }

      .thumbnails {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        .thumbnail {
          margin: .5rem .75rem;

          a,
          a img {
            display: block;
            width: 200px;
            height: 123px;
          }
        }
      }
    }
  }

  .timely-info {
    margin: .25rem auto 1.5rem;
    max-width: $character-width;

    .item-accompanying {
      text-align: center;
    }
  }
}

/* Media Queries */

@media (min-width: $breakpoint-sm) {

  .item .feature-image {
    width: 80vw;
  }
}

@media (min-width: $breakpoint-md) {

  .item .feature-image {
    width: initial;
  }

  .item .detail-images .photo-pair img {
    width: initial;
  }
}

@media (min-width: $breakpoint-lg) {

  .item {

    .item-info-block {
      flex-direction: column-reverse;
      padding-left: 1rem;
    }

    .payment-info {
      flex-direction: column;
      align-items: flex-start;
      margin: initial;
    }

    .item-price-container {
      top: initial;
      margin-bottom: 1rem;
    }

    .feature-info {
      flex-direction: row;
      align-items: initial;
    }

    .detail-images .photo-pair {
      flex-direction: row;

      img {
        width: 450px;
        height: 450px;
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {

  .item .detail-images .photo-pair img {
    width: 38vw;
    height: 38vw;
  }
}
