@use './variables' as *;

.items-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-collection-link {
  display: flex;
  flex-direction: column;
  width: $item-collection-dimension;
  border-radius: $border-radius-standard;
  margin: $size-medium;

  &:hover {
    box-shadow: 5px 5px 15px $border-gray;
  }
}

.item-collection-image {
  height: $item-collection-dimension;
  border: $border-standard;
  border-top-left-radius: $border-radius-standard;
  border-top-right-radius: $border-radius-standard;
  object-fit: cover;
}

.item-collection-info {
  padding: $size-medium;
  border: $border-standard;
  border-bottom-left-radius: $border-radius-standard;
  border-bottom-right-radius: $border-radius-standard;
  border-top-color: transparent;
  text-align: center;
}

.item-collection-title {
  font-weight: 700;
}

.item-collection-category {
  margin-bottom: $size-small;
}

.item-collection-description {
  margin-bottom: $size-small;
}

.item-collection-price {
  font-size: 1.5rem;
}
