@use './variables' as *;

.items-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
  max-width: 310px;

  span {
    text-align: center;

    &.items-search-dash {
      display: none;
    }
  }

  input {
    padding: .5rem;
    margin: auto .5rem;
  }
}

.category-buttons-container {
  display: flex;
  justify-content: center;
  padding: 1rem .5rem .5rem;

  .category-button {
    padding: .25rem .5rem;
    border: $border-standard;
    margin: auto .3125rem;
    background-color: transparent;
    border-radius: 6px;

    &:hover,
    &.selected {
      background-color: $eighty-percent-gray;
      color: $white;
    }
  }
}

.items-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items-collection-link {
  display: flex;
  flex-direction: column;
  width: $items-collection-dimension;
  border-radius: $border-radius-standard;
  margin: 1rem;

  &:hover {
    box-shadow: 5px 5px 15px $html-gray;
  }
}

.items-collection-image {
  height: $items-collection-dimension;
  border: $border-standard;
  border-top-left-radius: $border-radius-standard;
  border-top-right-radius: $border-radius-standard;
  object-fit: cover;

  &.postcard.cachalot {
    object-position: -10px;
  }

  &.postcard.hippopotamus,
  &.postcard.rhode-island-whale {
    object-position: left;
  }

  &.postcard.great-white-shark {
    object-position: right;
  }
}

.items-collection-info {
  padding: 1rem;
  border: $border-standard;
  border-bottom-left-radius: $border-radius-standard;
  border-bottom-right-radius: $border-radius-standard;
  border-top-color: transparent;
  text-align: center;
}

.items-collection-title {
  font-weight: 700;
}

.items-collection-category {
  margin-bottom: .5rem;
}

.items-collection-description {
  margin-bottom: .5rem;
}

.items-collection-price {
  font-size: 1.5rem;
}


/* Media Queries */

@media (min-width: $breakpoint-sm) {

  .items-search {
    flex-direction: row;
    align-items: center;
    max-width: initial;
    width: 536px;

    span.items-search-dash {
      display: inline;
    }
  }
}
