@use './_variables' as *;

.lunar-calendar-description {
  max-width: $character-width;
  margin: 2rem auto;

  .lunar-calendar-paragraph {
    margin: 1rem auto .5rem;
  }

  .lunar-phases {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }

  .phase-info {
    width: 60px;
    margin: .125rem;
    text-align: center;
  }

  .phase-text {
    text-align: center;
    text-transform: capitalize;
    font-size: .875rem;
    line-height: 1.125rem;
  }
}

.lunar-calendar-thumbnails {
  display: flex;
  flex-direction: column;

  .thumbnails-group {

    .thumbnails-title {
      margin: 1rem auto .5rem;
      text-transform: capitalize;
      color: $sixty-seven-percent-gray;
      font-weight: 700;
      text-align: center;
    }

    .thumbnails {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      .thumbnail {
        margin: .5rem .75rem;

        a img {
          width: 200px;
          vertical-align: top;

          &:hover {
            box-shadow: 5px 5px 15px $html-gray;
          }
        }
      }
    }
  }
}

.lunar-calendar-timely-info {
  margin: .25rem auto 1.5rem;
  max-width: $character-width;

  .lunar-calendar-accompanying-item {
    text-align: center;
  }
}
