@use './variables' as *;

.moon-space {
  max-height: 500px;
}

.moon-image-container {
  width: 300px;
  height: 300px;
  background-color: $twenty-three-blue-paper; // to be set dynamically
}

.sky-lines {
  position: relative;
  bottom: 300px;
  width: 300px;
  height: 300px;

  div {
    height: 2px;
    background-color: $twenty-three-blue-ink; // to be set dynamically
    margin-bottom: 2px;
  }
}

.phase-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  z-index: 1;

  svg.waning {
    transform: scaleX(-1);
  }
}

.moon-info {
  position: relative;
  bottom: 300px;
  margin-top: 8px;
}

.date-picker {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.increment-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: $sixty-percent-gray;
  color: $white;

  &.is-not-visible {
    visibility: hidden;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;

  button {
    max-width: 200px;
    padding: .5rem .75rem;
    border-radius: $border-radius-standard;
    margin: .25rem;
  }
}

// .moon-disc {
//   position: relative;
//   bottom: 210px;
//   width: 120px;
//   height: 120px;
//   border-radius: 50%;
//   margin: auto;
//   background-color: pink;
// }
