@use './variables' as *;

.moon-space {
  max-height: 420px;
}

.moon-image-container {
  overflow: hidden;
  width: $moon-space-dimension;
  height: $moon-space-dimension;
  margin: auto;
  background-color: $twenty-three-blue-paper; // to be set dynamically
}

.cloud {
  z-index: 1;
  opacity: 1;
  position: relative;
  transition: opacity 1.5s;

  &.is-not-visible {
    opacity: 0;
  }
}

.cloud-one {
  bottom: 200px;
  width: 140px;
  animation: 10s linear infinite cloud-one-frames;
}

@keyframes cloud-one-frames {
  from { transform: translateX(-140px); }
  to { transform: translateX(300px); }
}

.cloud-two {
  bottom: 286px;
  width: 160px;
  animation: 20s linear infinite cloud-two-frames;
}

@keyframes cloud-two-frames {
  from { transform: translateX(-300px); }
  to { transform: translateX(300px); }
}

.cloud-three {
  bottom: 175px;
  width: 180px;
  animation: 6s linear infinite cloud-three-frames;
  transform: rotate(45deg);
}

@keyframes cloud-three-frames {
  from { transform: translateX(-180px); }
  to { transform: translateX(300px); }
}

.phase-container {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $moon-space-dimension;
  height: $moon-space-dimension;

  svg.waning {
    transform: scaleX(-1);
  }
}

.sky-lines {
  position: relative;
  bottom: $moon-space-dimension;
  width: $moon-space-dimension;
  height: $moon-space-dimension;
  margin: auto;

  div {
    height: 2px;
    background-color: $twenty-three-blue-ink; // to be set dynamically
    margin-bottom: 2px;
  }
}

.moon-info {
  position: relative;
  bottom: $moon-space-dimension;
  margin-top: 8px;
  user-select: none;
}

.date-incrementor {
  display: flex;
  width: $moon-space-dimension;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.selected-phase-date {
  font-size: 1.25rem;
}

.increment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: $border-width-medium solid $sixty-seven-percent-gray;
  border-radius: 50%;
  text-decoration: none;
  background-color: $sixty-seven-percent-gray;
  color: $white;

  &.is-not-visible {
    visibility: hidden;
  }

  &:hover {
    color: $sixty-seven-percent-gray;
    background-color: $white;
  }

  span {
    position: relative;
    bottom: 2px;
    font-size: 26px;
  }
}

.info-for-display {
  margin-top: .25rem;
  text-align: center;
}

.lunar-feature-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;

  .lunar-feature-button {
    margin: .25rem;
  }
}

.lunar-feature-button {
  padding: .25rem .75rem;
  border: $border-width-medium solid $sixty-seven-percent-gray;
  border-radius: $border-radius-medium;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: .75rem;
  text-decoration: none;
  line-height: normal;
  background-color: $sixty-seven-percent-gray;
  color: $white;

  &.is-not-visible {
    visibility: hidden;
  }

  &.selected,
  &:hover {
    color: $sixty-seven-percent-gray;
    background-color: $white;
  }

  &.is-being-clicked {
    background-color: $twenty-three-blue-paper;
  }

  &.active {
    border-color: $twenty-three-blue-paper; // to be set dynamically;
  }
}

.play-year-button-container {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}
