@use './_variables' as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.footer-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color-dark-background;
}

.footer-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
  width: 100%;
  max-width: $breakpoint-xl;
  padding: 2rem 1rem;
  color: $white;
  line-height: 1rem;
  text-align: center;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-right a {
  display: flex;
  width: min-content;

  svg {
    width: 2rem;
  }
}

/* Media Queries */

@media (min-width: $breakpoint-sm) {

  .footer-information {
    padding-inline: 2rem;
  }

  .footer-right {
    gap: 2rem;
  }

  .footer-right a {
    width: initial;
  }
}
