/**
 * Selector for .home-page
 */

/* Sub-mixins need to be outside the primary mixin */
@mixin crisp-scaled-down {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

@mixin home-content {
  margin-bottom: 2rem;

  .home-page-content {
    max-width: 800px;
    font-size: 2rem;
    padding: 0 4rem;
    margin-top: 4rem;
  }

  p.name-signature {
    text-align: right;
  }

  .sold-out {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sold-out-text {
    padding: 0 20px;
  }

  .lunar-home {
    @include crisp-scaled-down;

    max-width: 1000px;
    width: 80vw;
  }

  /**
   * Media Queries
   */

  @media only screen and (max-width: 650px) {
    .home-page-content {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }
}
