@import url('./_variables');

.moon-span-scene {
  display: grid;
  grid-template-areas: "moon-span-scene-stack";

  & > div {
    grid-area: moon-span-scene-stack;
    height: 302px;
  }

  & > div:nth-child(2) { z-index: 2; }
  & > div:nth-child(3) { z-index: 3; }
  & > div:nth-child(4) { z-index: 4; }
}

.moon-span-phase-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  svg.waning {
    transform: scaleX(-1);
  }
}

.moon-span-info {
  margin: .75rem auto 0;
  max-width: 300px;
}

.moon-span-date-incrementor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.moon-span-selected-phase-date {
  width: var(--dimension-moon-space) * .66;
  text-align: center;
  line-height: normal;

  .moon-span-day-month-date {
    font-size: 1.25rem;
  }

  .moon-span-time-zone {
    font-size: .875rem;
  }
}

.moon-span-increment-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: var(--border-width-medium) solid var(--color-sixty-seven-percent-gray);
  border-radius: 50%;
  background-color: var(--color-white);

  &.is-not-visible {
    visibility: hidden;
  }

  &:hover {
    background-color: var(--color-twenty-percent-gray);
  }

  svg.back {
    transform: rotate(180deg);
  }
}

.moon-span-info-for-display {
  margin-top: .5rem;
  text-align: center;
}

.moon-span-lunar-feature-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;

  button {
    margin: .25rem;
  }
}

.moon-span-lunar-feature-button {
  padding: .25rem .75rem;
  border: var(--border-width-medium) solid var(--color-dark-background);
  border-radius: var(--border-radius-medium);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: .75rem;
  text-decoration: none;
  line-height: normal;
  background-color: var(--color-dark-background);
  color: var(--color-white);

  &.selected,
  &:hover {
    color: var(--color-application-font);
    background-color: var(--color-white);
  }

  &.active.twenty-six {
    border-color: var(--color-twenty-six-sunset-paper);
  }
}

.info-popover {
  width: 14rem;
  border: none;
  border-radius: var(--border-radius-medium);
  background-color: rgba(120, 210, 200, .95);
}

.info-popover-header {
  display: flex;
  justify-content: flex-end;
}

.info-popover-close {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  margin: .75rem .75rem .125rem;
  background-color: transparent;
  color: var(--color-application-font);
}

.info-popover-body {
  padding: 0 1.125rem .25rem;
}

.info-popover-text {
  margin-bottom: .5rem;
}

.info-popover-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: .5rem;

  button {
    width: 100%;
    margin: .25rem auto;
  }
}

.critter-wrapper {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    transform: translateY(300px);

    &.is-rising {
      animation: rise 1s ease-out forwards;
    }

    &.is-risen-once:not(.is-rising) {
      animation: rise-reset 1s ease-out forwards;
    }
  }
}

@keyframes rise {
  from { transform: translateY(300px); }
  to { transform: translateY(115px); }
}

 @keyframes rise-reset {
   from { transform: translateY(115px); }
   to { transform: translateY(300px); }
 }
