@import url('./_variables');

.moon-span-scene {
  height: 302px;
}

.moon-span-phase-container {
  position: relative;
  bottom: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 302px;

  svg.waning {
    transform: scaleX(-1);
  }
}
