.moon-span-clouds {
  position: relative;
  bottom: 606px;
  width: 100%;
  height: 302px;
  overflow: hidden;
}

.moon-cloud {
  position: absolute;
  top: 5%;
  width: 140px;
  animation: drift-wobble 40s linear infinite;
  transition: opacity 1.5s;

  &.is-moon-cloud-not-visible {
    opacity: 0;
  }

  &.moon-cloud-1 {
    top: 30%;
    width: 160px;
    animation-duration: 20s;
  }

  &.moon-cloud-2 {
    top: 60%;
    width: 180px;
    animation-duration: 10s;
  }
}

@keyframes drift {
  0% {
    left: -160px;
  }
  100% {
    left: 100%;
  }
}

@keyframes drift-wobble {
  0% {
    left: -160px;
    transform: translateY(5%) rotate(0deg);
  }
  50% {
    transform: translateY(15%) rotate(5deg);
  }
  100% {
    left: 100%;
    transform: translateY(-10%) rotate(0deg);
  }
}
