@import url('./_variables');

.moon-span {
  display: flex;
  justify-content: center;
  height: 302px;
}

.moon-span-sky-lines {
  margin-inline: 5px;
  background-color: var(--twenty-six-sunset-paper);
}

.moon-span-sky-line {
  display: flex;
  margin-bottom: 2px;
}

.moon-span-sky-segment {
  width: 2px;
  height: 2px;
  background-color: var(--twenty-six-brown-ink);
}
