@use './_variables' as *;

.news {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.news-text-wrapper {
  max-width: 21rem;
  padding: 1rem 1.5rem;
  border: $border-width-large solid $huetown-purple;
  border-radius: .5rem;
  outline: $border-width-large solid $huetown-blue;
  margin: 0 2rem 3rem;
  background-color: $huetown-yellow;
  animation: pulse 2s infinite;

  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 $huetown-green;
  }
  70% {
    box-shadow: 0 0 .125rem 1rem transparent;
  }
  100% {
    box-shadow: 0 0 transparent;
  }
}
