@use './_variables' as *;

.news {
  padding: 2rem;
}

.news-text-wrapper {
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  border: $border-width-large solid $huetown-purple;
  background-color: $huetown-yellow;
}
