@use './about' as *;
@use './collection' as *;
@use './footer' as *;
@use './header' as *;
@use './item' as *;
@use './items-collection' as *;
@use './variables' as *;

body {
  max-width: 1400px;
  margin: auto;
  color: $application-font-color;
}

main {
  position: relative;
  top: 75px;
  display: flex;
  justify-content: center;
  padding: .5rem auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;

  .text-link {
    text-decoration: none;
    color: $twenty-three-dark-blue;
    font-weight: 600;

    &:link,
    &:visited,
    &:active {
      color: $twenty-three-dark-blue;
    }

    &.items-collection-link {
      color: $application-font-color;
      &:link,
      &:visited,
      &:active {
        color: $application-font-color;
      }
    }

    &:hover:not(.items-collection-link) {
      color: $dark-green;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .ital {
    font-style: italic;
  }

  .bold {
    font-weight: 700;
  }

  .not-found-error {
    text-align: center;
  }

  .validation-message {
    color: $red;
    font-size: .875rem;
  }

  .home-content {
    padding: 2rem;
    text-align: left;

    div {
      margin: 1rem;
    }
  }
}

/* Media Queries */

@media (min-width: $breakpoint-sm) {

  main {
    top: initial;

    .home-content {
      text-align: center;
    }
  }
}

/* Pages */

// .lunar-calendars-page {
//   @include collection-content
// }

// .prints-page {
//   @include collection-content
// }

// .postcards-page {
//   @include collection-content
// }

// .item-page {
//   @include item-page-content
// }

// .veganly-page {
//   margin: 60px 40px;
//   text-align: center;
// }