@use './about' as *;
@use './footer' as *;
@use './header' as *;
@use './item' as *;
@use './items-collection' as *;
@use './lunar-calendar-info' as *;
@use './moon-space' as *;
@use './variables' as *;

body {
  max-width: 1400px;
  margin: auto;
  color: $application-font-color;
}

main {
  position: relative;
  top: 86px;
  display: flex;
  justify-content: center;
  padding: .5rem auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;

  .text-link {
    text-decoration: none;
    color: $twenty-three-blue-ink;
    font-weight: 600;

    &:link,
    &:visited,
    &:active {
      color: $twenty-three-blue-ink;
    }

    &.item-card-link {
      color: $application-font-color;
      &:link,
      &:visited,
      &:active {
        color: $application-font-color;
      }
    }

    &:hover:not(.item-card-link) {
      color: $dark-green;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .ital {
    font-style: italic;
  }

  .bold {
    font-weight: 700;
  }

  .not-found-error {
    text-align: center;
  }

  .validation-message {
    color: $red;
    font-size: .875rem;
  }

  .home-content {

    .home-image-container,
    .home-text-container,
    .home-image-container img {
      width: 80vw;
      max-width: 400px;
      vertical-align: top;
    }

    .home-text-container {
      margin-top: 1rem;
    }
  }
}

/* Media Queries */

@media (min-width: $breakpoint-sm) {

  main {
    top: initial;
  }
}
