@use './_variables' as *;
@use './header' as *;
@use './footer' as *;
@use './collection' as *;
@use './about' as *;
@use './item' as *;

html {
  margin: 0 auto;
}

body {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

main {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  padding: .5rem auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;

  .text-link {
    text-decoration: none;
    color: $dark-green;

    &:link,
    &:visited,
    &:active {
      color: $dark-green;
      font-weight: 600;
    }

    &:hover {
      color: $dark-green;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .ital {
    font-style: italic;
  }

  .bold {
    font-weight: 700;
  }

  .not-found-error {
    text-align: center;
  }

  .validation-message {
    color: $red;
    font-size: .875rem;
  }

  .home-content {
    text-align: left;

    div {
      margin: 1rem;
    }
  }
}

/* Media Queries */

@media (min-width: $breakpoint-sm) {

  main {
    top: initial;

    .home-content {
      text-align: center;
    }
  }
}

/* Pages */

// .lunar-calendars-page {
//   @include collection-content
// }

// .prints-page {
//   @include collection-content
// }

// .postcards-page {
//   @include collection-content
// }

// .item-page {
//   @include item-page-content
// }

// .veganly-page {
//   margin: 60px 40px;
//   text-align: center;
// }